.App {
  height: 100%;
  background-color: #880e4f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .mark {
    animation: mark-spin infinite 5s linear;
  }
}

@keyframes mark-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
