body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 800px) {
  body {
    width: 60%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px 5px;
  color: #f1f1f1;
}

.MenuItem:hover {
  color: #000;
  transition: 1s;
}

a {
  text-decoration: none;
  color: #000;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  align-self: flex-end;
}

.active .mark {
  visibility: visible;
}

.mark {
  visibility: hidden;
}

.logo:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

ul {
  text-align: left;
}

li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #880e4f;
  background-color: rgba(255, 255, 255, 0.5);

  @media (max-width: 650px) {
    font-size: 12px;
  }
}

h3 {
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #880e4f;
  background-color: #f1f1f1;
}

@media (max-width: 650px) {
  .MenuItem {
    font-size: 14px;
  }

  .active .mark {
    visibility: visible;
    transform: scale(0.7);
  }

  .avatar {
    transform: scale(0.8);
  }

  img {
    transform: scale(0.8);
  }

  h3 {
    font-size: medium;
  }
}

.hidden {
  position: fixed;
  top: -1000px;
}

.arrow {
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

label[for="toggle"] {
  position: absolute;
  top: 0px;
  left: 5px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}

.menu {
  height: 30px;
  width: auto;
}

input[type="checkbox"] {
  position: absolute;
  top: -100px;
}

input[type="checkbox"]:checked + aside {
  left: 0px;
}
